<div class="card-group">
  <div
    class="card d-flex justify-content-center position-relative align-items-center"
  >
    <div
      class="background-card-svg position-absolute d-flex justify-content-center align-items-center"
    >
      <img
        src="{svg}"
        height="350"
        width="350"
        alt="asdfasdf"
        class="umbrella"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title">{cardTitle}</h5>
      <p class="card-text">{cardText}</p>
      <div class="bottom-card-content">
        <hr />
        <f:render
          partial="OutlinedButton"
          arguments="{buttonName: buttonName, style: 'float-right'}"
        />
      </div>
    </div>
  </div>
</div>
