<div
  class="price d-flex {position} flex-row justify-content-center align-items-center {className}"
  style="left: {left}; top: {top}"
>
  <div class="price-header position-absolute btn-orange d-inline-block">
    Nur Für Kurze Zeit
  </div>
  <f:if condition="{oldPrice}">
    <div class="old-price-container d-inline-flex flex-column text-white">
      <p class="m-0">statt</p>
      <p class="old-price-tag m-0">
        {oldPrice} <f:if condition="{oldPricePenny}"> ,{oldPricePenny} </f:if> €
      </p>
    </div>
  </f:if>
  <div class="text-white position-relative d-inline-flex flex-row">
    <p class="m-0 lg-letter font-weight-bold">{price},</p>
    <div class="d-inline-flex position-absolute flex-column secondary-price">
      <span class="md-letter font-weight-bold">{pricePenny}</span>
      <p class="m-0 sm-letter">€ mb</p>
    </div>
  </div>
</div>
