<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="padding: 0 10%"
>
  <a class="navbar-brand" href="/">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/e/e6/M-Net.svg"
      width="50"
      height="50"
      alt=""
    />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <f:for each="{mainnavigation}" as="mainnavigationItem">
        <f:if condition="{mainnavigationItem.children}">
          <f:then>
            <li
              class="nav-item dropdown {f:if(condition: mainnavigationItem.active, then: 'active')}"
            >
              <a
                class="nav-link {f:if(condition: mainnavigationItem.active, then: 'borderBottom', else: 'dropdown-toggle')} {f:if(condition: collapse, then: 'active')}"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {mainnavigationItem.title}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <f:for each="{mainnavigationItem.children}" as="child">
                  <a
                    class="dropdown-item"
                    href="{child.link}"
                    target="{child.target}"
                    title="{child.title}"
                  >
                    {child.title}
                  </a>
                </f:for>
              </div>
            </li>
          </f:then>
          <f:else>
            <li
              class="nav-item {f:if(condition: mainnavigationItem.active, then: 'active')}"
            >
              <a
                class="nav-link {f:if(condition: mainnavigationItem.active, then: 'borderBottom')}"
                href="{mainnavigationItem.link}"
              >
                {mainnavigationItem.title}
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </f:else>
        </f:if>
      </f:for>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-orange rounded-lg">
        Verfügbarkeit prüfen
      </button>
    </form>
  </div>
</nav>

<div class="container-fluid bg-hero-gradient">
  <div class="left-container">
    <div class="header position-absolute text-white">
      <h1 class="header2">
        Unvergessliche <br />
        Momente - Beginnen <br />mit eined Klick
      </h1>
    </div>
    <f:render
      partial="PriceContainer"
      arguments="{price: 9, pricePenny: 90, oldPrice: 14, oldPricePenny: 90, position: 'position-absolute'}"
    />
    <div class="right-container"></div>
  </div>
</div>

  <div class="surfen-und-telefonieren-container container-fluid">
    <div class="surfen-und-telefonieren-content d-flex justify-content-between">
      <div class="surfen-und-telefonieren-left-continer d-flex flex-column">
        <h1>Surfen und Telefonieren <br />mit M-net</h1>
        <p>
          Sichern Sie sich unser Top-Angebot noch heute. Wir von M-net<br />
          haben es uns zur Aufgabe gemacht, bester Anbieter für Internet <br />
          und Telefonie zu werden. Deshalb setzen wir auf superschnelle
          <br />Glasfaserverbindungen. Dadurch erreichen Sie nicht nur hohe
          <br />
          Downloadraten, sondern auch eine sehr konsistente Verbindung
        </p>
        <h3>
          Die Vorteile unserer günstigen Internet & <br />
          Festnetz Angebote auf einen Blick
        </h3>
        <div class="d-flex flex-column justify-content-between">
          <div class="d-flex flex-row align-items-center border-bottom mb-2">
            <div class="d-flex flex-row align-items-center mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="svg-background"
              >
                <path
                  fill="#0070AE"
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                />
              </svg>
              <h5 class="m-0">Top Uploadraten bis zu 300 M</h5>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center border-bottom mb-2">
            <div class="d-flex flex-row align-items-center mb-3 mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="svg-background"
              >
                <path
                  fill="#0070AE"
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                />
              </svg>
              <h5 class="m-0">Top Uploadraten bis zu 300 M</h5>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center border-bottom mb-2">
            <div class="d-flex flex-row align-items-center mb-3 mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="svg-background"
              >
                <path
                  fill="#0070AE"
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                />
              </svg>
              <h5 class="m-0">Top Uploadraten bis zu 300 M</h5>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="d-flex flex-row align-items-center mb-3 mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="svg-background"
              >
                <path
                  fill="#0070AE"
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                />
              </svg>
              <h5 class="m-0">Top Uploadraten bis zu 300 M</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="surfen-und-telefonieren-right-continer"></div>
    </div>
  </div>

  <div class="unsere-zusatzoptionen">
    <div class="content-layout">
      <h1 class="mb-4">Unsere Zusatzoptionen</h1>
      <div class="d-flex justify-content-between h-100 card-container">
        <f:render
          partial="Card"
          arguments="{svg: 'https://upload.wikimedia.org/wikipedia/commons/5/5f/TV_-_The_Noun_Project.svg',cardTitle: 'Fernsehen', buttonName: 'Mehr erfahren',cardText:'Lorem Ipsum Dolor set amin Lorem Ipsum Dolor
        set amin, Lorem Ipsum Dolor set amin.'}"
        />
        <f:render
          partial="Card"
          arguments="{svg: 'https://upload.wikimedia.org/wikipedia/commons/e/ea/Umbrella_%2880433%29_-_The_Noun_Project.svg',cardTitle: 'Sicherheitspaket', buttonName: 'Mehr erfahren',cardText:'Lorem Ipsum Dolor set amin Lorem Ipsum Dolor
        set amin, Lorem Ipsum Dolor set amin.'}"
        />
        <f:render
          partial="Card"
          arguments="{svg: 'https://upload.wikimedia.org/wikipedia/commons/5/51/Electric.svg',cardTitle: 'Komplettinstallation', buttonName: 'Mehr erfahren' ,cardText:'Lorem Ipsum Dolor set amin Lorem Ipsum Dolor
        set amin, Lorem Ipsum Dolor set amin.'}"
        />
      </div>
    </div>
  </div>

  <div class="content-layout d-flex justify-content-between bottom-section-container" style="gap: 20px">
    <div class="d-flex flex-column w-50 bottom-section-content-queries" >
      <div class="bottom-section-left-img position-relative">
        <f:render
          partial="PriceContainer"
          arguments="{price: 19, pricePenny: 90, position: 'position-absolute', left: '65%', top: '85%', className: 'price-container-bottom-section'}"
        />
      </div>
      <h1 class="font-weight-bold">Für Junge Leute</h1>
      <p class="w-75">
        Lorem Ipsum Dolor set amin Lorem Ipsum Dolor set amin, Lorem Ipsum Dolor
        set amin
      </p>
      <f:render
        partial="OutlinedButton"
        arguments="{buttonName: 'Mehr erfahren', style: 'w-25',queries: 'button-bottom-section'}"
      ></f:render>
    </div>
    <div class="d-flex flex-column w-50  bottom-section-content-queries">
      <div class="bottom-section-right-img position-relative">
        <f:render
          partial="PriceContainer"
          arguments="{price: 10,  pricePenny: 90, position: 'position-absolute', left: '65%', top: '85%', className: 'price-container-bottom-section'}"
        />
      </div>
      <h1 class="font-weight-bold">Gamer Tarife</h1>
      <p class="w-75">
        Lorem Ipsum Dolor set amin Lorem Ipsum Dolor set amin, Lorem Ipsum Dolor
        set amin
      </p>
      <f:render
        partial="OutlinedButton"
        arguments="{buttonName: 'Mehr erfahren', style: 'w-25', queries: 'button-bottom-section'}"
      ></f:render>
    </div>
  </div>
</div>
