<div class="new-content-element card-group">
  <div class="card d-flex justify-content-center position-relative">
    <div class="p-3">
      <h3 class="card-title">{data.header}</h3>
      <h5 class="card-text">{data.subheader}</h5>
      <p class="card-text">{data.bodytext}</p>
      <div class="bottom-card-content">
        <hr />
        <a
          href="{data.header_link}"
          class="outlined-button btn btn-outline-primary rounded-circle float-right"
        >
          Mehr erfahren
        </a>
      </div>
    </div>
  </div>
</div>
<f:debug>{_all}</f:debug>
